body {
  background-color: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  color: #3b3b3b;
  max-width: 1000px;
  margin: 60 px;
  display: grid;
  gap: 60px;
  justify-items: center;
}

.header {
  display: grid;
  justify-items: center;
  gap: 60;
}
.logo {
  margin: 30px 0px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.menu a {
  display: block;
  background-color: white;
  padding: 15px 30px;
  border-radius: 4px;
  text-decoration: none;
  color: #3b3b3b;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

p {
  font-size: 20px;
  line-height: 1.3;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducao {
  padding: 40px;
  background-color: white;
  place-content: center;
  text-align: right;
  position: relative;
  display: grid;
  align-content: center;
  gap: 20px;
  justify-items: end;
}
.detalhe {
  width: 60px;
  height: 4px;
  background-color: red;
  display: inline-block;
  position: absolute;
  top: 30px;
  right: -30px;
}
.botao {
  background-color: red;
  text-align: center;
  padding: 15px 30px;
  margin: 0px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
}
.subtitulo {
  color: #c6c6c6;
  text-align: right;
  font-size: 34px;
  padding: 40px;
  align-self: center;
}

img {
  max-width: 100%;
  display: block;
}

.vantagens {
  background: white;
  text-align: left;
  padding: 40px;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
}

.vantagens-item p {
  grid-column: 2;
}

.rodape {
  grid-column: 1 / -1;
  text-align: center;
  background-color: white;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin: 0px;
}
