body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background-color: #f7f7f7;
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

p,
h1,
h2,
h3 {
  margin: 0px;
  padding: 0px;
}

p {
  font-size: 20px;
  line-height: 1.3;
}

.header {
  display: grid;
  justify-items: center;
  gap: 60px;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.menu a {
  display: block;
  background-color: white;
  padding: 15px 30px;
  border-radius: 4px;
  color: black;
}
.menu a:hover {
  border: #e21;
}
.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducao {
  background-color: white;
  padding: 40px;
  text-align: right;
  position: relative;
  display: grid;
  justify-items: end;
  align-content: center;
  gap: 20px;
}

.introducao h1 {
  font-size: 2rem;
}

.detalhe {
  width: 60px;
  height: 4px;
  background-color: #e21;
  display: inline-block;
  position: absolute;
  top: 30px;
  right: -30px;
}

.botao {
  background-color: #e21;
  color: white;
  padding: 15px 30px;
  border-radius: 4px;
  text-transform: uppercase;
}

.subtitulo {
  font-size: 64px;
  text-transform: uppercase;
  color: rgb(158, 157, 157);
  text-align: right;
  padding: 40px;
  align-self: center;
}

.vantagens {
  display: grid;
  grid-column: 2;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.vantagens-item {
  background-color: white;
  padding: 40px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  margin-bottom: 20px;
}

.vantagens-item p {
  grid-column: 2;
}

.rodape {
  background-color: white;
  width: 100%;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}
